# Dependencies
**/node_modules

# Build outputs
**/dist
**/build
**/.output

# Git
.git
.gitignore

# Environment files
**/.env
**/.env.*
!**/.env.example

# IDE / Editor
.vscode
.idea
**/*.swp
**/*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
**/*.log
**/logs

# Drizzle studio
#**/drizzle/meta

# Misc
**/coverage
**/.turbo
